html.page-home {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #FFF;
	background-size: cover;
	background-position: center center;
}
.article-content p {
	font-size: 14px;
}
.content.content-post .article-header .post-title {
	font-size: 28px;
}

