html.page-home {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-repeat: no-repeat;
	background-position: center right;
	/*background-image: url(74.jpg);*/
}


.article-content p {
	font-size: 14px;
}
.content.content-post .article-header .post-title {
	font-size: 28px;
}

